<div class="container">
    <header class="addSection">
        <input type="text"
               placeholder="Add task here"
               [(ngModel)]="newTaskText"
               (keyup.enter)="createNewTask(newText.value,newColor.value, newText.errors, newColor.errors)"
               minlength="3"
               required
               [style.color]="!newText.errors ? 'white' : 'red'"
               #newText="ngModel">

        <input type="text"
               #newColor
               name="color"
               [(ngModel)]="newTaskColor"
               placeholder="Write a color"
               (keyup.enter)="createNewTask(newText.value,newColor.value, newText.errors, newColor.errors)">
    </header>
    <section class="taskList">
        <task-item *ngFor="let task of tasks"
                   [taskObject]="task"
                   [markAsCompleted]="onMarkAsCompleted.bind(this)"
                   (removeTaskId)="onRemoveTaskId($event)"></task-item>
    </section>
</div>